@import './base.css';
html,
body,
#app {
  width: 100%;
  height: 100%;
  min-width: 1280px;
  min-height: 100%;
  @media (max-width: 768px) {
    min-width: 100%;
  }
}

[type='checkbox'],
[type='radio'] {
  vertical-align: -0.15em;
}
input[type='text'],
input[type='password'] {
  padding: 1px;
  outline: none;
  -webkit-appearance: none;
  border: none;
  border: 1px solid #bababa;
}
.main_sub {
  flex: 1;
  overflow: auto;
}
.w30 {
  width: 30px;
}
.w40 {
  width: 40px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100%;
}
.w80 {
  width: 80px;
}
.w130 {
  width: 130px;
}
.mobi_content {
  .w90 {
    width: 75px;
  }
  .w80 {
    width: 65px;
  }
}
.h100 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bold {
  font-weight: bold;
}
.flex-box {
  display: flex;
}
.flex-flow {
  flex-flow: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-inline {
  display: inline-flex;
}
.flex-item {
  flex: 1;
}
.flex-center-v {
  align-items: center;
}
.flex-center-h {
  justify-content: center;
}
.flex-cv {
  align-items: center;
}
.flex-ch {
  justify-content: center;
}
.gap2 {
  gap: 2px;
}
.gap4 {
  gap: 4px;
}
.gap6 {
  gap: 6px;
}
.gap8 {
  gap: 8px;
}
.gap10 {
  gap: 10px;
}
.gap20 {
  gap: 20px;
}
.gap30 {
  gap: 30px;
}
.input-h36 {
  height: 36px;
  line-height: 36px;
  font-size: 22px;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center !important;
}
.tr {
  text-align: right;
}
.red {
  color: red;
}
.red2 {
  color: #990033;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.pink {
  color: #ff00cc;
}
.color_fff {
  color: #fff;
}
.color_yellow {
  color: yellow;
}
.bg_fff {
  background: #fff;
}
// 生成padding
.generate-padding(@i: 2) when (@i <= 60) {
  .fs@{i} {
    font-size: @i * 1px;
  }
  .p@{i} {
    padding: @i * 1px;
  }
  .pl@{i} {
    padding-left: @i * 1px;
  }
  .pr@{i} {
    padding-right: @i * 1px;
  }
  .pt@{i} {
    padding-top: @i * 1px;
  }
  .pb@{i} {
    padding-bottom: @i * 1px;
  }
  .ptb@{i} {
    padding-top: @i * 1px;
    padding-bottom: @i * 1px;
  }
  .plr@{i} {
    padding-left: @i * 1px;
    padding-right: @i * 1px;
  }
  .m@{i} {
    margin: @i * 1px;
  }
  .ml@{i} {
    margin-left: @i * 1px;
  }
  .mr@{i} {
    margin-right: @i * 1px;
  }
  .mt@{i} {
    margin-top: @i * 1px;
  }
  .mb@{i} {
    margin-bottom: @i * 1px;
  }
  .mtb@{i} {
    margin-top: @i * 1px;
    margin-bottom: @i * 1px;
  }
  .mlr@{i} {
    margin-left: @i * 1px;
    margin-right: @i * 1px;
  }
  .generate-padding(@i + 2);
}

.generate-padding();

.sub-btn {
  border: 1px solid #286699;
  height: 25px;
  background: #beebff;
  padding: 4px 8px;
  line-height: 15px;
}
.pri-btn {
  // color: #255207;
  // border: 1px solid #41a102;
  // background-image: linear-gradient(to bottom, #91d91b, #74c02b);
  color: #fff;
  border: 1px solid #283785;
  background-image: linear-gradient(180deg, #3494e3, #283785);
  padding: 0 8px;
  line-height: 21px;
  height: 23px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}
.pri-btn-h36 {
  // color: #255207;
  // border: 1px solid #41a102;
  // background-image: linear-gradient(to bottom, #91d91b, #74c02b);
  color: #fff;
  border: 1px solid #283785;
  background-image: linear-gradient(180deg, #3494e3, #283785);
  padding: 0 8px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 34px;
  height: 36px;
}
.pri-btn-v {
  // color: #255207;
  // border: 1px solid #41a102;
  // background-image: linear-gradient(to bottom, #91d91b, #74c02b);
  color: #fff;
  border: 1px solid #283785;
  background-image: linear-gradient(180deg, #3494e3, #283785);
  padding: 0 8px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  .table-hd {
    // #5cafcf
    background-image: linear-gradient(to bottom, #52a5c5, #1698cc 20%);

    // background-color: #1698cc;
    .table-hd-th {
      text-align: left;
      color: #fff;
      font-weight: bold;
      height: 30px;
      font-size: 12px;
      padding: 0 4px;
    }
    .table-hd-th2 {
      text-align: left;
      background: #f0f0f0;
      font-weight: bold;
      height: 30px;
      font-size: 12px;
      padding: 4px;
    }
    td,
    th {
      text-align: left;
      border: 1px solid #a4d4f9;
    }
  }
}
.table-ft {
  td,
  th {
    padding: 4px;
    outline: none;
    font-weight: bold;
    text-align: left;
    border: 1px solid #a4d4f9;
  }
  tr {
    background: #d1ebff;
  }
  tr:hover {
    td {
      background: #fffeaa;
      color: red;
    }
  }
}
.table-form {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  padding: 0;
  margin: 0;

  td,
  th {
    padding: 4px;
    outline: none;
    font-weight: bold;
    text-align: left;
    border: 1px solid #a4d4f9;
  }
  td:nth-child(2n-1) {
    background: #f1f5f8;
  }
  thead {
    td,
    th {
      padding: 4px;
      outline: none;
      font-weight: bold;
      text-align: left;
      border: 1px solid #a4d4f9;
      color: #fff;
      background-image: linear-gradient(to bottom, #52a5c5, #1698cc 20%) !important;
    }
  }
}
.table-form-green {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  padding: 0;
  margin: 0;

  td,
  th {
    padding: 4px;
    outline: none;
    font-weight: bold;
    text-align: left;
    border: 1px solid #bdf0bc;
  }
  td:nth-child(2n-1) {
    background: #f1f5f8;
  }
  thead {
    td,
    th {
      padding: 4px;
      outline: none;
      font-weight: bold;
      text-align: left;
      border: 1px solid #bdf0bc;
      color: #fff;
      background-image: linear-gradient(to bottom, #7bb263, #52b731 20%) !important;
    }
    &.subhead {
      td,
      th {
        padding: 4px;
        outline: none;
        font-weight: bold;
        text-align: left;
        border: 1px solid #bdf0bc;
        color: #333;
        background: #f0f0f0;
        background-image: none !important;
      }
    }
  }
}

.table-form2 {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  padding: 0;
  margin: 0;

  td,
  th {
    outline: none;
    font-weight: bold;
    text-align: left;
    background: #fff;
    border: 1px solid #a4d4f9;
  }
}

.div-green-border {
  border: 1px solid #bdf0bc;
  padding: 4px;
}
.bt {
  border-top-width: 1px;
  border-top-style: solid;
}
.bb {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.bl {
  border-left-width: 1px;
  border-left-style: solid;
}
.br {
  border-right-width: 1px;
  border-right-style: solid;
}
.bd {
  border-width: 1px;
  border-style: solid;
}
.gbt {
  border-top: 1px solid #bdf0bc;
}
.gbb {
  border-bottom: 1px solid #bdf0bc;
}
.gbl {
  border-left: 1px solid #bdf0bc;
}
.gbr {
  border-right: 1px solid #bdf0bc;
}
.gbd {
  border: 1px solid #bdf0bc;
}
.bc_333 {
  border-color: #333;
}
.page-view {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.wp200 {
  width: 200px;
}

.print-table {
  table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: 1px solid #333;
      padding: 4px 8px;
    }

    th {
      width: 60px;
    }
  }
}

.form-quick-choose {
  table {
    width: 100%;
    background: #fff;
    border-spacing: 1px;
    border-width: 1px 0 0 1px;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
  }
  .bg2 {
    background: #f0f0f0;
    border-bottom: 1px solid #bdf0bc;
    height: 30px;
    border-right: 1px solid #bdf0bc;
    text-align: center;
    font-size: 14px;
    padding: 4px;
  }
  td {
    border: 1px solid #bdf0bc;
    height: 22px;
    border-width: 0 1px 1px 0;
    padding: 2px 4px;
  }
}
